# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.venv/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# OS files
.DS_Store

# Environment files
.env
